body{
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, span, select{
    font-family: 'Nunito Sans', sans-serif;
    color: #1D0F03;
}

a{
    text-decoration: none;
}



/* Sale link */

.sale-link{
width: 100%;
height: 74px;
background: #B03939;
cursor: pointer;
}

.sale-link a{
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 74px;   
}

.sale-link a b{
    font-weight: 900;
    margin: 0px 5px;
}

/* Main page content */

.page-content{
    padding-top: 90px;
}

/* Title and breadcrumb */

.title{
    padding-left: 70px;
    width: 70%;
}

.title h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.title h4{
 font-style: normal;
font-weight: bold;
font-size: 1.4rem;
margin-bottom: 1rem;
}

.page-breadcrumb a{
    color: #4960AF;
    text-decoration: none;
    font-weight: 700;
}

.page-breadcrumb a:hover{
    text-decoration: underline;
}


/* Main image and categories */

.main-image-and-categories{
    display: flex;
    margin-bottom: 12rem;
}

/* Main image container (right side) */

.main-image-container{
    position: relative;
    top: 1.6rem;
    left: 10%;
    padding: 1rem;
}

.main-image-and-description{
    position: relative;
    top: 3.2rem;
    width: 50%;
}

.main-image{
    width: 500px;
}

.main-image img{
    width: 100%;
}

.main-image-description{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
}

.main-image-description span{
    margin-bottom: 0.2rem;
}

.large-image-title{
    font-weight: 700;
}

.image-price{
    font-weight: 800;
}

/* Amount of items on page */

.amount-on-page{
    font-size: 0.9rem;
    font-weight: 300;
}

/* Multiple image wrapper */

.horizontal-image-wrapper{
    width: 100%;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.image-popular-information{
    display: flex;
    width: 100%;
    position: relative;
    top: 15px;
}

.image img{
    width: 100%;
}

.image-information{
    display: flex;
    flex-direction: column;
    width: 100%
}

.image-container{
padding: 10px;
position: relative;
margin-bottom: 30px;
}

.image-title{
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.image-popular-information.right-side{
position: relative;
top: 0px;
width: 71px;
height: 17px;
padding: 0.2rem 1.1rem;
background: #B03939;
text-align: center;
justify-content: center;
align-items: center;
}

.image-popular-information.right-side span{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 0.8rem;
}


/* Middle Section Large Image */

.middle-section-image{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin: 40px 0px;
}

.section-image-and-description{
    width: 100%;
}

.section-image-and-description span{
    margin-bottom: 0.2rem;
}

.middle-section-image img{
    width: 50%;
}

.section-image-description{
    text-align: center;
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 775px){
    .title{
        margin-bottom: 4.5rem;
        padding-left: 20px;
      }
      
      .main-image-and-categories{
          display: flex;
          flex-direction: column;
      }
  
      .main-image-container{
          top: 5rem;
          left: 0;
      }
  
      .horizontal-image-wrapper{
          grid-template-columns: auto auto;
      }
  
      .middle-section-image img{
          width: 85%;
      }

      .middle-section-image{
        margin: 30px 0px;
    }

    .main-image{
        width: 90vw;
    }

    .sale-link{
        width: 100%;
        height: 74px;
        background: #B03939;
        cursor: pointer;
        }
        
        .sale-link a{
            font-size: 80%;
            overflow-wrap: break-word; 
}

.image img{
    width: 70%;
}

.image-popular-information{
    display: flex;
    flex-direction: column;
}

.image-information{
    margin-bottom: 1rem;
}

.horizontal-image-wrapper{
    position: relative;
    left: 10%;
}

.main-image-description{
    justify-content: center;
    text-align: center;
    width: 50vw;
    align-items: center;
    left: 50%;
}
    
}
